- name: Check if firewalld exists
  shell: systemctl list-unit-files | grep -q firewalld
  register: firewalld_check
  ignore_errors: yes
  when: ansible_os_family == "RedHat"

- name: Stop firewalld
  service:
    name: firewalld
    state: stopped
    enabled: false
  when:
    - ansible_os_family == "RedHat"
    - firewalld_check.rc == 0
